<!DOCTYPE html>
<html>

<head>

  <title>Login, Sign up Header</title>

  <link rel="stylesheet" href="static/stylesheets/header-login-signup.css">
  <link rel="stylesheet" href="static/stylesheets/lstyle.css">
  <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

</head>

<body>

<header class="header-login-signup">

  <div class="header-limiter">

    <h1><a href="#">HitchHike</a></h1>
    <ul>
      <li><a href="/signup">Sign up</a></li>
    </ul>

  </div>

</header>

<div class="container">
  
  <div class="card">
      <h1 class="title">Login as Car Driver</h1>
      <form method="POST">
        <div class="input-container">
            <input type="text" name="Username" required="required"/>
            <label for="Username">Username</label>
            <div class="bar"></div>
          </div>
          
          <div class="input-container">
            <input type="password" id="Password" required="required"/>
            <label for="Password">Password</label>
            <div class="bar"></div>
          </div>
        
          <div class="button-container">
            <button><span>Go</span></button>
          </div>
        
          <div class="footer"><a href="#">Forgot your password?</a></div>
      </form>
  </div>

<div class="container2">
  <div class="card"></div>
  <div class="card">
      <h1 class="title">Login as HitchHiker</h1>
      <form method="POST" >
        <div class="input-container">
            <input type="text" id="Username" required="required"/>
            <label for="Username">Username</label>
            <div class="bar"></div>
          </div>
          
          <div class="input-container">
            <input type="password" id="Password" required="required"/>
            <label for="Password">Password</label>
            <div class="bar"></div>
          </div>
        
          <div class="button-container">
            <button><span>Go</span></button>
          </div>
        
          <div class="footer"><a href="#">Forgot your password?</a></div>
      </form>
  </div>

</body>

</html>
