<!DOCTYPE html>
<html>

  <head>
    <title>login page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
  </head>

  <body>
    <table>
      <tr>
        <td style= "width:30%;">
          <img class = "newappIcon" src="static/images/newapp-icon.png">
        <td>
            <h1>Please login</h1>
            <form method="POST">
                <input type="email" name="email">
                <input type="password" name="password">
                <input type="submit">
            </form>
    </table>
  </body>

</html>