<!DOCTYPE html>
<html>

  <head>
    <title>Signup page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
  </head>

  <body>
    <table>
      <tr>
        <td style= "width:30%;">
          <img class = "newappIcon" src="static/images/newapp-icon.png">
        <td>
            <h1>Sign up</h1>
            <form method="POST">
                <p>Name : <input type="text" name="name" ></p>
                <p><input type="email" name="email"></p>
                <p><input type="text" name="username"></p>
                <p><input type="password" name="password"></p>
                <p><input type="number" name="phone"></p>
                <p><input type="submit"></p>
            </form>
    </table>
  </body>